<div class="title-container">
    <h1 class="title">
        Should 
        <span class="green-text">I</span><br> <span class="buy-text"> Buy</span>
        <span class="yellow-text">It</span>
        <span class="red-text">?</span>
    </h1>
    <div class="description">
        <p>Are you facing the all-too-familiar dilemma of whether to make a purchase or let it pass?</p>
        <p>This site is designed to help you to make a decision with simple steps.</p>
        <p>Answer this questions and take a decision.</p>
    </div>
</div>