.title {
    font-weight: bold;
    text-align: center;
    font-size: 6rem;    
}

.green-text {
    color: #1DB954;
}

.yellow-text {
    color: #F9D03B;
}

.red-text {
    color: #F37778;
}

.buy-text {
    margin-left: 92px;
}