.title {
    font-weight: bold;
    text-align: center;
    font-size: 6rem;    
}

.description {
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
    width: 70%;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green-text {
    color: #1DB954;
}

.yellow-text {
    color: #F9D03B;
}

.red-text {
    color: #F37778;
}

.buy-text {
    margin-left: 92px;
}